        * {
            margin: 0px;
            padding: 0px;
        }
        /* header */
        
        .header-logo {
            position: absolute;
            height: 7vh;
            left: 50%;
            margin-left: -10vh;
            margin-top: 4vh;
            letter-spacing: 2px;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 3vh;
            font-weight: 600;
            z-index: 2;
        }
        
        .header-logo a {
            color: rgba(255, 255, 255, .7);
        }
        /* Block carousel */
        
        #video-carousel-example2 {
            height: 100%;
        }
        
        #video-carousel-example2,
        .carousel-inner,
        .carousel-item {
            height: 100vh !important;
        }
        
        .carousel-inner {
            height: 100%;
        }
        
        .view {
            display: flex;
            align-items: top;
            height: 100%;
            width: 100%;
            text-align: center;
            vertical-align: center;
        }
        
        video {
            min-width: 100%;
            min-height: 100vh;
        }
        
        .carousel-caption {
            height: 7vh;
            bottom: 50%;
        }
        
        .h3-responsive {
            border: 1px solid #000;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 3.3vh;
            color: white;
            font-weight: 700;
            letter-spacing: 2px;
            line-height: 50px;
        }
        
        #separator {
            width: 100%;
            border: 4px solid white;
        }
        /* Block resume */
        
        .resume-section {
            box-sizing: border-box;
        }
        
        .profile-row {
            background-color: white;
            color: #39383a;
            border-right: 1px solid #e0e0e0;
            border-left: 1px solid #e0e0e0;
        }
        
        .profile-info-col {
            margin: 0px;
            padding: 0px;
        }
        
        .profile-photo {
            display: flex;
            justify-content: center;
            background-color: white;
        }
        
        .photo {
            height: 250px;
            width: 285px;
            background-image: url(/img/profile-photo.jpg);
            background-size: contain;
            background-repeat: no-repeat;
        }
        
        .profile-info {
            padding: 50px 30px 70px 30px;
        }
        
        .heading {
            font-size: 24px;
            padding-bottom: 16px;
            text-transform: uppercase;
            font-weight: 600;
        }
        
        .heading-light {
            color: #39383a;
            border-bottom: 2px dashed #5a5a5a;
        }
        
        .profile-text {
            line-height: 24.19px;
            font-size: 16px;
            margin-bottom: 24px;
        }
        
        .contacts-item {
            padding-bottom: 24px;
            padding-top: 24px;
            border-bottom: 2px dashed #5a5a5a;
        }
        
        .contacts-title {
            font-size: 18px;
            margin-bottom: 13px;
        }
        
        .contacts-text {
            color: #39383a;
            text-decoration: none;
            padding-left: 24px;
            line-height: 20.97px;
        }
        
        .contacts div:last-child {
            border: none;
        }
        
        .resume {
            padding: 15px;
        }
        
        .resume-wrap {
            height: 100%;
            border: 1px solid #e0e0e0;
            box-shadow: 1px 1px 10px rgba(7, 7, 7, 0.2);
            padding: 15px 25px;
        }
        
        .content-for-logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .logo-img {
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #39383a;
            color: #39383a;
            border-radius: 50%;
        }
        
        .logo-lines {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-left: 17px;
            margin-right: 17px;
        }
        
        .logo-line {
            width: 43px;
            height: 2px;
            background-color: #39383a;
            margin-top: 18px;
            margin-bottom: 18px;
        }
        
        .logo-lines-left .logo-line:nth-child(2) {
            margin-right: 20px;
            width: 55px;
        }
        
        .logo-lines-right .logo-line:nth-child(2) {
            margin-left: 20px;
            width: 55px;
        }
        
        .about {
            text-align: center;
            padding-top: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #e0e0e0;
        }
        
        .name {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 10.75px;
        }
        
        .position {
            font-size: 12px;
            text-transform: uppercase;
            color: #808080;
        }
        
        .objective,
        .expirience {
            margin-top: 26px;
        }
        
        .heading-dark {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 4px;
            border-bottom: 1px solid #e0e0e0;
        }
        
        .list {
            margin-top: 20px;
            margin-left: 20px;
        }
        
        .list-item-title {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
        }
        
        .list-item-date {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            font-style: italic;
        }
        
        .list-item-text {
            font-size: 16px;
            padding-bottom: 16px;
            border-bottom: 1px dashed #e0e0e0;
        }
        
        .list-item:last-child .list-item-text {
            border: none;
        }
        
        .education .list-item-text {
            display: flex;
            flex-direction: column;
        }
        
        .qualification .list-item-text {
            display: flex;
            flex-direction: column;
            text-decoration: none;
        }
        
        .qualification .list-item-text a {
            color: #39383a;
        }
        
        .expirience .list-item-text {
            display: flex;
            flex-direction: column;
        }
        
        .personal-qualities .list-item-text {
            display: flex;
            flex-direction: column;
        }
        
        .special-skills .list-item-text {
            display: flex;
            flex-direction: column;
        }
        
        .expirience .list-item-text span,
        .qualification .list-item-text span,
        .education .list-item-text span,
        .personal-qualities .list-item-text span,
        .special-skills .list-item-text span {
            margin-top: 4px;
        }
        
        .footer-wrap {
            height: 75px;
            width: 100%;
            background-color: #040f22;
        }
        
        .footer-container,
        .footer-row {
            height: 100%;
        }
        
        .name-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        
        .name-container a {
            color: #fff;
            font-size: 14px;
        }
        
        .social-network-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .social-network-icon span {
            margin-right: 18px;
        }
        
        .social-network-icon i {
            font-size: 32px;
            color: #fff;
        }