* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: green;
}

.logo {
    position: absolute;
    height: 7vh;
    left: 50%;
    margin-left: -10vh;
    margin-top: 4vh;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3vh;
    color: white;
    font-weight: 600;
    z-index: 2;
}

#video-carousel-example2 {
    position: relative;
    height: 100vh !important;
    /* overflow: hidden; */
}

.carousel-caption {
    position: absolute;
    height: 7vh;
    left: 50%;
    top: 50%;
    margin-left: -10vh;
    margin-top: 4vh;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3vh;
    color: white;
    font-weight: 600;
    z-index: 10;
}


/* .carousel-inner {
    overflow: visible;
} */


/* .carousel-inner video {

    left: 50%;
    max-width: 100vh !important;
    min-height: 400vh;
    min-width: 100%;
    position: absolute;
    top: 50vh;
    transform: translate(-50%, -50%);
    z-index: 1;
} */