html {
    box-sizing: border-box;
    font-size: 16px;
}

.header {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 105vh;
    padding-top: 20px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    transform: all 0.3s;
    background: white;
    z-index: 9;
}