body {
    padding: 100;
    background-image: url(/img/sprite.jpg);
}

h4 {
    color: white;
    background-color: rgb(90, 116, 93);
}

#gridId4 h2 {
    background-color: rgb(117, 63, 112);
    color: white;
}

#gridId6 h2 {
    background-color: rgb(75, 68, 50);
    color: white;
}

#gridId7 h2 {
    background-color: rgb(63, 117, 76);
    color: white;
}

#gridId12 h2 {
    background-color: rgb(185, 157, 79);
    color: white;
}

#gridId2 h2 {
    background-color: rgb(65, 113, 158);
    color: white;
}