body {
    padding: 100;
    background-image: url(/img/sprite.jpg);
}

h4 {
    color: white;
    background-color: rgb(90, 116, 93);
}

.panelInner {
    background-color: green;
}

h2 {
    background-color: green;
}

.visibleGrid {
    background-color: green;
}