@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&display=swap&subset=cyrillic');
body {
    width: 100%;
    font-family: 'Open Sans', Courier, monospace;
}

.yellow-font {
    color: #ffdc00;
}

.block-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.92px;
    color: #333333;
    margin: 56px 0px 36px 0px;
}

.order-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 297px;
    height: 74px;
    border-radius: 7.8px;
    background-color: #ffdc00;
    box-shadow: 0px -5px #b9a000 inset;
    border-color: #ffdc00;
    margin-top: 40px;
}

.order-button>span {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.92px;
    text-align: center;
    color: #333333;
}

header {
    width: 100%;
    height: 105px;
    background-color: #ffdc00;
}

.header-items {
    width: 100%;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    letter-spacing: 1.44px;
}

.logo span:nth-child(1) {
    color: #333333;
    font-size: 28px;
}

.logo span:nth-child(2) {
    color: #6f6f6f;
    font-size: 18px;
}

.button-contact {
    display: flex;
    flex-direction: column;
    letter-spacing: 1.44px;
}

.button-contact span:nth-child(1) {
    text-align: end;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

.button-contact button {
    width: 200px;
    height: 40px;
    font-size: 14px;
    background-color: #333333;
    color: #ffffff;
    border-radius: 10px;
    border-color: #ffdc00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-order-block {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/autopark.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 154px;
    padding-bottom: 183px;
}

.time-order-text>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2.88px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 72px;
}

.time-order-text>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1.92px;
}

.image-price-mobile {
    display: none;
}

.item-time-block {
    display: flex;
    margin-top: 28px;
}

.item-time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 74px;
    border-radius: 8.1px;
    background-color: #333333;
    margin-right: 7px
}

.item-time>span {
    font-size: 39px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.74;
    letter-spacing: 3.12px;
    color: #ffffff;
}

.item-dot-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 11px 0px 4px;
}

.image-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 44px;
}

.image-price>span:nth-child(1)>img {
    width: 400px;
}

.image-price>span:nth-child(2)>img {
    margin: 37px 26px 0px 0px;
}

.yellow-line {
    display: flex;
    justify-content: center;
    padding-bottom: 56px;
}

.yellow-line>span {
    width: 250px;
    height: 1px;
    background-color: #ffdc00;
}

.col-lg-4 {
    padding: 0px;
}

.table tr,
.table td {
    border: none;
}

.char-content-paddind {
    padding-left: 70px;
}

.column-content {
    display: flex;
    flex-direction: column;
}

.column-content>span {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.35px;
    color: #9a9a9a;
    margin-top: 8px;
}

.column-content>span:first-child {
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75;
    letter-spacing: 0.4px;
    text-align: left;
    color: #333333;
}

.center-char-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-lg-6 {
    padding: 0px;
}

.content-char-monitor div {
    display: flex;
    flex-direction: column;
}

.content-char-monitor:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.content-char-monitor span {
    line-height: 28px;
}

.char-order-button {
    display: flex;
    justify-content: center;
}

.yellow-line-small {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.yellow-line-small>span {
    width: 49px;
    height: 1px;
    background-color: #ffdc00;
    margin: 15px 0px;
}

.reasons-to-buy row {
    display: flex;
    justify-content: space-between;
}

.reasons-content {
    display: flex;
    align-items: baseline;
}

.reasons-to-buy .col-lg-3 .reasons-small-img-header {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #eccd0c;
}

.reasons-to-buy .col-lg-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.reasons-to-buy .col-lg-3 span {
    padding-top: 18px;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.35px;
    font-weight: 600;
    text-align: center;
    color: #8b8b8b;
}

.video-demonstration {
    display: flex;
    justify-content: center;
}

.video-demonstration video {
    width: 941px;
    height: 553px;
}

.saving-block-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saving-block-content span:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
    line-height: 2;
    letter-spacing: 0.45px;
    text-align: center;
}

.saving-block-content span:nth-child(2),
.saving-block-content span:nth-child(2) span {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.6px;
    margin-bottom: 23px;
}

.saving-block-content:nth-child(1) div {
    width: 468px;
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
}

.saving-block-content:nth-child(2) div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.our-parktronic .block-header {
    margin-top: 93px;
}

.our-parktronic-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.yellow-arrow {
    height: auto;
    justify-content: center;
}

.our-parktronic .number-img {
    object-fit: contain;
    border: solid 7px #ffe74f;
    background-color: #ffe74f;
}

.our-parktronic .border-point {
    padding-top: 14px;
}

.our-parktronic .col-lg-6 div:nth-child(1) {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: 0.35px;
    text-align: left;
    color: #333333;
}

.face-avatar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 12px;
}

.face-avatar img {
    width: 41px;
    height: 41px;
    border-radius: 100%;
    margin-right: 18px;
}

.face-avatar span:nth-child(2) {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.35px;
    color: #333333;
}

.face-avatar span:nth-child(3) {
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.33px;
    text-align: center;
    color: #9c9c9c;
}

.delivery-and-warranty .block-header {
    margin-top: 93px;
}

.warranty-text span:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.45px;
}

.warranty-text div ul {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: 0.35px;
    padding-top: 18px;
    color: #333333;
}

.warranty-text span:nth-child(3) {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: 0.35px;
    color: #333333;
}

.warranty-small-content {
    display: flex;
    justify-content: space-between;
}

.warranty-small-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 57px;
}

.warranty-small-img-text {
    width: auto;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.45px;
    text-align: center;
    color: #ffe74f;
    padding-top: 18px;
}

.payment-text {
    display: flex;
    flex-direction: column;
}

.payment-text span {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.45px;
    padding-top: 54px;
}

.payment-text div {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: 0.35px;
    padding-top: 18px;
    color: #333333;
}

.the-last-sentence .block-header {
    margin-top: 117px;
}

.the-last-sentence-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.the-last-sentence-content .double-glass-and-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mirror-center-and-plus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.mirror-center-and-plus img:nth-child(1) {
    transform: scale(-1, 1);
    margin-bottom: 16px;
}

.double-glass-and-price img:nth-child(1) {
    display: flex;
    width: 274px;
    height: 171px;
    align-items: flex-start;
    transform: scale(1, -1);
}

.contact-form {
    width: 325px;
    height: 50px;
    border-radius: 10.4px;
    border: solid 1px #333333;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.57;
    letter-spacing: 0.35px;
    text-align: left;
    color: #9a9a9a;
    padding: 8px 0px 8px 27px;
}

.the-last-sentence-content .contact-form:nth-child(1) {
    margin-bottom: 30px;
}

.item-time-block-small {
    display: flex;
    margin-top: 30px;
}

.item-time-small {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 52px;
    border-radius: 8.1px;
    background-color: #333333;
    margin-right: 7px
}

.item-time-small>span {
    font-size: 27.5px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: 2.2px;
    text-align: center;
    color: #ffffff;
}

.item-dot-time-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 11px 0px 4px;
}

footer {
    width: 100%;
    height: 105px;
    background-color: #333333;
    margin-top: 98px;
    display: flex;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #929292;
    padding-bottom: 5px;
}


/*******************************************************************************/

@media(max-width: 576px) {
    header {
        width: 100%;
        height: 62px;
    }
    .logo {
        display: flex;
        flex-direction: column;
        padding: 17px 33px 30px;
        letter-spacing: 1.44px;
    }
    .logo span:nth-child(1) {
        font-size: 18px;
        line-height: 0.95;
        letter-spacing: 1.48px;
    }
    .logo span:nth-child(2) {
        font-size: 14px;
        line-height: 2.06;
        letter-spacing: 0.68px;
    }
    .button-contact {
        display: none;
    }
    .main-order-block {
        width: 100%;
        padding-top: 43px;
        padding-bottom: 18px;
    }
    .time-order-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 33pt 0px;
    }
    .time-order-text>div:nth-child(1) {
        font-size: 20px;
        line-height: 1.71;
        letter-spacing: 1.12px;
    }
    .time-order-text>div:nth-child(2) {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 1.12px;
        margin-top: 26px;
    }
    .image-price-mobile {
        display: block;
        margin-top: 30px;
    }
    .image-price-mobile span:nth-child(1) img {
        width: 267px;
        height: 106px;
    }
    .image-price-mobile span:nth-child(2) img {
        width: 15%;
        position: absolute;
        display: block;
        left: 70%;
        bottom: 33%;
    }
    .item-time-block {
        display: flex;
        margin-top: 33px;
    }
    .item-time {
        width: 32px;
        height: 47px;
        margin-right: 7px
    }
    .item-time>span {
        font-size: 25px;
        font-weight: 500;
        line-height: 0.74;
        letter-spacing: 2px;
    }
    .item-dot-time span img {
        width: 12px;
        height: 12px;
    }
    .image-price {
        display: none;
    }
    .order-button {
        width: 239px;
        height: 60px;
        border-radius: 6.2px;
        margin-top: 26px;
    }
    .order-button>span {
        font-size: 19px;
        line-height: 1.53;
        letter-spacing: 1.52px;
    }
    .block-header span {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 1.28px;
    }
    .char-content-paddind-mobile {
        padding-left: 40px;
    }
    .column-content>span {
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.35px;
    }
    .column-content>span:first-child {
        font-size: 14px;
        line-height: 2;
        letter-spacing: 0.35px;
    }
    .two-mirrors-img-mobile {
        width: 189px;
        height: 189px;
    }
    .mirror-frame-mobile {
        width: 223px;
        height: 76px;
    }
    .mirror-center-mobile {
        display: none;
    }
    .yellow-line {
        padding-bottom: 19px;
    }
    .reasons-to-buy .col-lg-3 {
        margin-top: 42px;
    }
    .video-demonstration video {
        width: 276px;
        height: 161px;
    }
    .saving-block-content {
        margin-top: 28px;
    }
    .saving-block-content span:nth-child(1) {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.85;
        letter-spacing: 0.33px;
        text-align: center;
    }
    .saving-block-content span:nth-child(2),
    .saving-block-content span:nth-child(2) span {
        font-size: 16px;
        font-weight: bold;
        line-height: 2;
        letter-spacing: 0.4px;
        margin-bottom: 23px;
    }
    .girl-mobile {
        width: 273px;
        height: 179px;
    }
    .saving-block-content:nth-child(1) div {
        width: 273px;
    }
    .crash1-mobile {
        width: 148px;
        height: 73px;
    }
    .crash2-mobile {
        width: 110px;
        height: 73px;
    }
    .mirror-center-bigger-mobile {
        width: 267px;
        height: 106px;
    }
    #id {
        width: 40px;
        height: 40px;
    }
    .double-glass-mobile {
        width: 267px;
        height: 173px;
    }
    .our-parktronic .block-header {
        margin-top: 50px;
    }
    .yellow-arrow,
    .border-point {
        display: none;
    }
    .our-parktronic-content {
        padding-top: 36px;
    }
    .number-img {
        width: 269px;
        height: 202px;
    }
    .parktronic-article {
        width: 269px;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.71;
        letter-spacing: 0.35px;
        text-align: left;
    }
    .face-avatar {
        width: 269px;
    }
    .face-avatar img {
        margin-right: 8px;
    }
    .delivery-and-warranty .block-header {
        margin-top: 42px;
    }
    .warranty-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .warranty-text div {
        width: 269px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .payment-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .payment-text span {
        font-size: 16px;
        letter-spacing: 0.4px;
        padding-top: 42px;
    }
    .payment-text div {
        font-size: 13px;
        line-height: 1.85;
        letter-spacing: 0.33px;
    }
    .the-last-sentence .block-header {
        margin-top: 46px;
    }
    #price-second {
        width: 30%;
        position: absolute;
        display: block;
        left: 70%;
        bottom: 0%;
    }
    .the-last-sentence-content .contact-form:nth-child(1) {
        margin-top: 28px;
        margin-bottom: 28px;
    }
    .the-last-sentence .yellow-line {
        padding-bottom: 46px;
    }
    footer {
        height: 52px;
        margin-top: 39px;
    }
}
